[submodule "MandelbrotSharp"]
	path = MandelbrotSharp
	url = https://github.com/yodadude2003/MandelbrotSharp
[submodule "openfx"]
	path = openfx
	url = https://github.com/yodadude2003/openfx
[submodule "StutterMosher"]
	path = StutterMosher
	url = https://github.com/yodadude2003/StutterMosher.git
